{% extends 'content/base.html' %}
{% load staticfiles %}

{% block content %}
<center>
    <h2>Education</h2>
</center>
<p>
    nuneul gamgo ajik yeogi seo isseo samakgwa bada gaunde gireul irhgoseo yeojeonhi hemaego isseo
    eodiro gaya halji yeah irido manheul jul mollasseo gaji mothan gildo gal su eobneun gildo
    I never felt this way before eoreuni doeryeoneunji nan neomu eoryeoun geol i giri manneunji
    jeongmal neomu hollanseureo never leave me alone geuraedo midgo isseo midgiji anhjiman
    gireul ilhneundan geon geu gireul channeun bangbeop Lost my way
    swil sae eobsi morachineun geochin bibaram soge Lost my way chulguragon eobneun bokjabhan sesang soge
    Lost my way Lost my way sueobsi hemaedo nan naui gireul mideobollae
</p>

<center>
    <h2>Experience (I have so little...)</h2>
</center>
<h4 style="margin-left:5%;">There's seriously like one thing</h4>
<p>
    Lost my way Found my way Lost my way Found my way eodiro ganeun gaemireul bon jeok isseo
    dan han beone gireul channeun beobi eobseo sueobsi budijhimyeo gieoganeun
    meogil chagi wihae myeochirigo banghwanghaneun You know sseulmo isseo i jwajeoldo
    nan mideo urin baro gago isseo eonjenga uriga chage doemyeon bunmyeong han beone jibeuro wa gaemicheoreom
    ajigeun eoryeoun geol i giri manneunji jeongmal neomu hollanseureo don’t you leave me alone
    geuraedo midgo sipeo midgiji anhjiman gireul ilhneundan geon geu gireul channeun bangbeop
    Lost my way swil sae eobsi morachineun geochin bibaram soge Lost my way
    chulguragon eobneun bokjabhan sesang soge Lost my way Lost my way
    sueobsi hemaedo nan naui gireul mideobollae So long giyak eobneun huimangiyeo ijen annyeong So long
</p>

<center>
    <h2>Skills</h2>
</center>
<h4 style="margin-left:5%;">Might move this section to a different spot</h4>
<h4 style="margin-left:5%;">Programming Languages:</h4>

{% endblock %}