{% extends 'content/base.html' %}
{% load staticfiles %}

{% block content %}
<center>
    <h2>About Me</h2>
</center>

<p>
    gulmjurin nomdeureun nae chongalbadina hae gopge jeophae nae meosdaero dobaedoen
    mudaero yeonhaeng da gyeolbaek (okay) But manjok moshae jeoldae yeogie
    na olla jeo wie nopge nopge nopge geurae bangsigeun dareuji gopssibeodo ganeun gil
    han ttamssik baneujil mot hal geomyeon maedeupjieo ijen an dwae ganeungi pogiraneun bareumi
    I love ma rule nae brodeulgwa haneun il geudeulmanui rigeuui peulleieo
    nan geu wi gamdogi doel teni da doel daerohae 1VERSEe ieo nan deo keun geurimeul geuril teni
    pyeongsaeng geu wichieseo jjuk oechyeobwara ‘Dream come true’
    myeongyewa buneun geuge anya you da gyeolguk nae balbadak chyu keullikhae, nan cat da mouse
    golla X chyeo like kaws nan naenyeon ipju ma house eseo nae brickgwa high five
    nuntteugo bwara nae yamang gwi daego deureora cheoeumija majimagi doel mal
</p>
<p>
    Call me baepsae hogeun ssenkae geurae rap gamee nan daeinbae doege haeihaejyeotdeon
    Rap mandeureul gaengsaenghaneun ge nae cheot beonjjaeui gyehoek hashtag
    Sucka betta run inseuta sok gang gang geugeon gyae insaengigo nae insaengeun mwo maeilmaeil
    Payday, paycheck sonmok wien rolex Click clack to the bang bang Click clack to the pow
    I’m so high eodil neombwa niga doumdatgireul haedo son dahgien nopa kkwaena meon chai jeoldae mot bwa
    neoui ttongchadeurui kongkkakjireul mongttang beosgyeonoheun daeum joeda nongrakhan dwi songjangi doen
    myeonsang wireul so fly Click clack to the bang, you and you swipge eodeun ge hanado eopseume neul gamsahane
    ni insaengi eojungganhan ge wae nae tasiya gyesok geureohge sarajwo jeokdanghage
    mianhande apeuro nan deo beol geonde jikyeobwajwo budi jebal geonganghage
</p>
{% endblock %}