{% extends 'content/base.html' %}
{% load staticfiles %}

{% block content %}
<center>
    <h2>CUNY Tech</h2>
    <h4>should put a link</h4>
</center>
<p>
    neon nae hanappunin taeyang sesange ttak hana neol hyanghae pieotjiman nan jakku mokmalla
    neomu neujeosseo neujeosseo neo eobsi sal sun eobseo gajiga mallado deo himkkeot soneul ppeodeo
    son ppeodeobwatja geumse kkaebeoril kkum kkum kkum michil deut dallyeodo
    tto jejariil ppun ppun ppun geunyang nal taewojwo geurae deo milchyeonaejwo
    igeon sarange michin meongcheongiui ttwimbakjil deo ttwige haejwo nareul deo ttwige haejwo
    du bare sangcheoman gadeukhaedo ni eolgulman bomyeon utneun nanikka dasi Run Run Run nan meomchul suga eobseo
    tto Run Run Run nan eojjeol suga eobseo eochapi igeotbakke nan mothae neoreul saranghaneun geot bakken mothae
</p>

<center>
    <h2>Capstone</h2>
    <h4>link link link (screenshots...???)</h4>
</center>
<p>
    dasi Run Run Run neomeojyeodo gwaenchanha tto Run Run Run jom dachyeodo gwaenchanha
    gajil su eobtda haedo nan jokhae babo gateun unmyeonga nareul yokhae (Run) Don’t tell me bye bye
    (Run) You make me cry cry (Run) Love is a lie lie Don’t tell me, don’t tell me Don’t tell me bye bye
    da kkeutnan georaneunde nan meomchul suga eobne ttaminji nunmurinji na deoneun bungan mothae oh
    nae balgabeoseun sarangdo geochin taepung baramdo nareul deo ttwigeman hae nae simjanggwa hamkke
    deo ttwige haejwo nareul deo ttwige haejwo du bare sangcheoman gadeukhaedo ni eolgulman bomyeon utneun nanikka
    dasi Run Run Run nan meomchul suga eobseo tto Run Run Run nan eojjeol suga eobseo eochapi igeotbakke nan mothae
    neoreul saranghaneun geot bakken mothae
</p>
{% endblock %}