html, body{
    background-color: #fdfce8;
}

#logo{
    border-radius:50%;
    width: 85%;
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#brand{
    line-height:150px;
    vertical-align:middle;
    position: static;
    text-align:center;
}

.circle{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float:left;
    margin-left: 2%;
    background-color: white;
    position: relative;
}

.divide{
    clear:both;
    width:20%;
    border-width:1px;
    border-bottom-style:ridge;
    margin:auto;
    border-color:black;
    box-shadow: 1px 1px 2px grey;
}

@import url('https://fonts.googleapis.com/css?family=Merienda');

h2{
    font-family: 'Merienda', cursive;
}